### Part2: Naive Bayes Classifier

In [148]:
import pandas as pd
import numpy as np

In [149]:
df = pd.read_csv("Data/LoanDataset/data.csv")
df.columns =['Id','age','exp','income','zip','Fsize','avgSpend','edu','mortgage','output','securities','deposit','netBanking','creditCard']

loan = pd.DataFrame(df, columns = ["Id", "age", "exp", "income", "zip", "Fsize", "avgSpend", "edu", "mortgage", "securities", "deposit", "netBanking", "creditCard","output"])

loan.head()

,Id,age,exp,income,zip,Fsize,avgSpend,edu,mortgage,securities,deposit,netBanking,creditCard,output
0,2701,31,5,39,94590,4,2.2,2,0,0,0,1,1,0
1,2716,42,18,54,90089,1,1.8,1,0,0,0,1,0,0
2,3359,59,35,40,94536,4,0.4,1,0,0,0,0,0,0
3,2492,38,14,80,92868,2,2.7,1,0,0,0,1,0,0
4,937,62,32,19,92109,1,1.5,3,0,1,0,0,0,0

#### Drop the useless columns like Id, ZipCode

In [150]:
loan.drop('Id',axis=1,inplace=True)
loan.drop('zip',axis=1,inplace=True)
loan.head()

,age,exp,income,Fsize,avgSpend,edu,mortgage,securities,deposit,netBanking,creditCard,output
0,31,5,39,4,2.2,2,0,0,0,1,1,0
1,42,18,54,1,1.8,1,0,0,0,1,0,0
2,59,35,40,4,0.4,1,0,0,0,0,0,0
3,38,14,80,2,2.7,1,0,0,0,1,0,0
4,62,32,19,1,1.5,3,0,1,0,0,0,0

#### We maintain the list of Categorical features and numerical features because we have to handle them diffrently while calculating the liklihood of each features

In [151]:
categorical=['edu','securities','deposit','netBanking','creditCard']

In [152]:
numerical_attr=['age','mortgage','exp','income','Fsize','avgSpend']

In [153]:
# m=len(loan['exp'][loan['exp']<0])
# a=pd.DataFrame(np.ones((m,1)))
# #loan['exp'][loan['exp']<0]=a
# print(m,a.shape)
# (loan['exp'][loan['exp']<0]).shape

In [154]:
# training_data = loan.sample(frac = 0.8, random_state = 200)
# valid_data = loan.drop(training_data.index)
split = int(0.8 * loan.shape[0])
training_data = loan[:split] # 80% of the total data
testing_data = loan[split:]  # 20% of the total data

In [155]:
def mean(col):
    j=0.0
    j=sum(col)/len(col)
    return j

In [156]:
def stanDeviation(col):
    avg=0.0
    avg = mean(col)
    sigmaSquare = sum([pow(x-avg,2) for x in col])/float(len(col)-1)
    return np.sqrt(sigmaSquare)

In [157]:
def calculateProb(col,mu,sigma):
    med=0.0
    med=np.exp(-((col-mu)**2)/(2*sigma**2))
    return (med)/(sigma*np.sqrt(2*np.pi))

In [158]:
global_cat={}

for i in categorical:
    cat_dict={}

    values=list(set(training_data[i]))
    for j in values:
        help=[]
        val1=len(training_data[i][training_data[i]==j][training_data.output == 1])# no. of yes 
        help.append(val1)
        
        val2=len(training_data[i][training_data[i]==j][training_data.output == 0])# no. of No
        help.append(val2)
        
        cat_dict[j]=help
    global_cat[i]=cat_dict
 
        
print(global_cat)

{'edu': {1: [70, 1443], 2: [129, 881], 3: [155, 921]}, 'securities': {0: [310, 2916], 1: [44, 329]}, 'deposit': {0: [246, 3128], 1: [108, 117]}, 'netBanking': {0: [132, 1282], 1: [222, 1963]}, 'creditCard': {0: [249, 2290], 1: [105, 955]}}

In [159]:
global_num={}
for i in numerical_attr:
    cat_dict={}
    help=[]
    val1=training_data[i][training_data.output == 1]
    mu=mean(val1)
    sig=stanDeviation(val1)
    help.append(mu)
    help.append(sig)
    cat_dict["yes"]=help
    val1=training_data[i][training_data.output == 0]
    help=[]
    mu=mean(val1)
    sig=stanDeviation(val1)
    help.append(mu)
    help.append(sig)
    cat_dict["no"]=help
    global_num[i]=cat_dict
        
print(global_num)

{'age': {'yes': [45.387005649717516, 11.43400576754793], 'no': [45.233590138674884, 11.431926580306166]}, 'mortgage': {'yes': [103.590395480226, 162.18388828283798], 'no': [52.10508474576271, 92.8573099664806]}, 'exp': {'yes': [20.15536723163842, 11.343023314358682], 'no': [19.99075500770416, 11.45507660829018]}, 'income': {'yes': [143.80790960451978, 31.961952321227812], 'no': [66.88289676425269, 40.8926276701729]}, 'Fsize': {'yes': [2.6073446327683616, 1.1270821511803604], 'no': [2.372265023112481, 1.1497471780312833]}, 'avgSpend': {'yes': [3.9105084745762717, 2.095522752141776], 'no': [1.733913713405241, 1.5713157146691983]}}

In [160]:
d=training_data['output'].value_counts()# it returns dictionary with counts as values of keys
#print(d)
priorNo=d[0]/len(training_data)
priorYes=d[1]/len(training_data)
#print(priorNo,priorYes)

In [161]:
def prediction(test):
    out=[]# empty list to hold the output
#     rig = 0
#     wro = 0
    for x in range(0,len(test)):
        r=test.iloc[x]
        likliYes=1
        likliNo=1
        for i in categorical:
            likliYes*=max(global_cat[i][r[i]][0]/d[1],10**-7)
            likliNo*=max(global_cat[i][r[i]][1]/d[0],10**-7)
        for i in  numerical_attr:
            likliYes*=max(calculateProb(r[i],global_num[i]['yes'][0],global_num[i]['yes'][1]),10**-7)
            likliNo*=max(calculateProb(r[i],global_num[i]['no'][0],global_num[i]['no'][1]),10**-7)
        likliYes=likliYes*priorYes
        likliNo=likliNo*priorNo
        ans = -1
        if likliYes > likliNo:
            ans = 1
        else:
            ans = 0 
        out.append(ans)
    return out
    
        #actualans = r['output']

#     #     print(actualans,ans)
#         if(actualans ==  ans):
#             rig += 1
#         else:
#             wro += 1
#     print(rig/(rig+wro))

In [162]:
predict=prediction(testing_data)
actual_result=testing_data['output'].tolist()
Tp=0
Tn=0
Fp=0
Fn=0
for i in range(0,len(actual_result)):
    if actual_result[i]==predict[i] and actual_result[i]==1:
        Tp+=1
    elif actual_result[i]==predict[i] and actual_result[i]==0:
        Tn+=1
    elif actual_result[i]==0 and predict[i]==1:
        Fp+=1
    else:
        Fn+=1

accuracy=(Tp+Tn)/len(actual_result)*100
precision=Tp/(Tp+Fp)
recall=Tp/(Tp+Fn)
F1_Score=2*precision*recall/(recall+precision)
print(accuracy,"%")
print(precision)
print(recall)
print(F1_Score)

91.55555555555556 %
0.52
0.65
0.5777777777777778

In [163]:
from sklearn import metrics
print(metrics.classification_report(actual_result,predict))
print(metrics.confusion_matrix(actual_result,predict))

              precision    recall  f1-score   support

           0       0.96      0.94      0.95       820
           1       0.52      0.65      0.58        80

   micro avg       0.92      0.92      0.92       900
   macro avg       0.74      0.80      0.77       900
weighted avg       0.93      0.92      0.92       900

[[772  48]
 [ 28  52]]